<link rel="stylesheet" href="/static/css/uikit.min.css">
<link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
<link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css">
<link rel="stylesheet" href="/static/css/awesome.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/awesome.js"></script>
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/sha1.min.js"></script>
<script src="/static/js/sticky.min.js"></script>